uvloop
gql[aiohttp]
redis
asyncpg
aioboto3
msgspec
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-redis
opentelemetry-sdk-extension-aws
opentelemetry-propagator-aws-xray